* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* FONTS */

@font-face {
    font-family: "intervogue-bold";
    src: url("fonts/Fontspring-DEMO-intervogue-bold.otf") format("OpenType");
}
@font-face {
    font-family: "Sriracha-Regular";
    src: url("fonts/Sriracha-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: "CaveatBrush-Regular";
    src: url(fonts/CaveatBrush-Regular.ttf);
}

body {
    /*background-color: #051723; FINAL!!! */
    background-color:  #051723;
    /* background: linear-gradient(#000000,#051723); */
    height: 100vh;
    /* background: linear-gradient(#051723,#C0C0C0);
    height: 100vb; */
}

.gradient{
    /* background-color: pink; */

    background: linear-gradient(#000000,#051723);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}
/* NAVBAR */

.navbar{
    /* visibility: hidden; */
    /* position: fixed; */
    /* justify-content: left; */
    /* border-bottom: 2px solid white; */
    display: flex;
    top: 0;
    height: 6.5rem;
    width: 100vw;
    color: white;
    background-color: black;
}

    /* Logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    width: 8rem;
    /* background-color: aqua; */
}

.logo video{
    height: 100%;
    width: auto;
    /* border:2px solid white; */
}

.logo:hover video{
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

    /* navbar-main */
.navbar-main {
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    font-family: "Sriracha-Regular";
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navbar-main a{
    text-decoration: none;
    color: whitesmoke;    
}

#First{
    margin-left: 30%;
}


/* HOME */

/* main */

/* main{
    display: flex;
} */
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    min-height: 70vh;

    /* margin-top: 7rem; */

}

.main-left {
    /* background-color: pink; */
    display: flex;
    justify-content: base;
    align-items: center;
    margin-inline: 2rem;
    max-width: 36rem;
    /* max-height: 24rem; */
    /* max-height:36rem; */
    
    /* height: 100%; */
    /* max-width: 40%; */
}

/* .profile-image {
    border-radius: 50%;
    height: 30rem;
    width: 29rem;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;

    background-color: pink;

} */

.main-left img{
    /* height: 0.5; */
    height: 80%;
    width: 90%;
    /* background-color: aqua; */
}

.main-right {
    /* background-color:burlywood; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: left;
    justify-content: left;  */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
}

.main-right img {
    /* quote icon */
    height: 8rem; 
    margin-top: 1rem;
}

.quotation{
    /* background-color: green; */
}

.content-area{
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */
    font-family: "CaveatBrush-Regular";
    font-size: 3rem;
    color: #C0C0C0;
    width: 100%;
    height: auto;
    /* background-color: red; */
}

.content p{
    /* background-color: pink; */
    display: inline;
    font-size: 1em;
}

/* hi emoji */

.content span{
    display: inline;
    font-size: 4rem;
}

/* emoji animation */

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.content span:hover{
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
}

.quote {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.quote-content {
    background-color: #3F4752;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1rem;
    width: 90vw;
    margin-top: 1.5rem;
    background-color: #3F4752;
    color: #19AFFF;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 1rem; 
    font-size: 1.5rem;  
    font-weight: bold;

}

.quote-content:hover .highlight{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        border-radius: 0.3rem;
        background-color:#19AFFF;
        color: #3F4752;
    
}

/* .quote-content:hover{
    height: 6rem;
} */

